<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            {% block pagetitle %}SVScon information{% endblock %}
        </title>

        <link href="{{ STATIC_URL }}css/app.css" rel="stylesheet">
    </head>

    <body>

        <div class="container">
            <div id="top">
                <img id="top-image" src="{{ STATIC_URL }}img/svs-logo.png" />
                <h1 id="top-title">{% block toptitle %}SVScon information{% endblock %}</h1>
            </div>

            {% block content %}

            {% endblock %}

        </div><!-- /container -->

        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
        <script src="{{ STATIC_URL }}js/app.js"></script>
    </body>
</html>