{% extends "base.html" %}

{% block content %}
<div id="index-container">
    
    {% include "daytabs.html" %}

    <div class="event-list-legend">
        <span class="legend-time">tid</span>
        <span class="legend-event">event</span>
        <span class="legend-area">sted</span>
    </div>
    <ol class="events-list">
        {% for event in past_events %}
            {% include "event-item.html" %}
        {% endfor %}
    </ol>


    <ul class="news-list">
        {% for news in news_items %}
            {% include "news-item.html" %}
        {% endfor %}
    </ul>


</div> {% endblock %}
