@import "bootstrap.less";
@import "grid.less";
@import "responsive.less";

.border-bottom {
    border-bottom: 1px dotted #dedede;
}

html {
    overflow-y: scroll;
}

body > .container {
    
    margin-bottom: 100px;
  
    #top {
    
        .row;
        
        #top-image {
            .makeColumn(4);
            width:266px;
        }
        
        #top-title {
            .makeColumn(8);
            line-height:300px;
            margin: 0 0 0 40px;
        }
    
  }
}

.event-hint {
    .muted;
}

#nav-container {
    .row;
    margin: 0;
    
    .nav {
        .makeColumn(9);
        margin: 0;
    }
    
    #clock {
        line-height: 35px;
        .makeColumn(1);
        font-size: 20px;
        font-weight: bold;
    }
    
}

#index-container {
    
    .eventlist-container {
        .makeColumn(9);
    }
    
    .event-list-legend {
        .row;
        margin-left: 0;
        
        font-weight: bold;
        
        .legend-time {
            .makeColumn(1);
            margin-left: 0;
        }
        
        .legend-event {
            .makeColumn(6);
        }
        
        .legend-area {
            .makeColumn(2);
        }
    }
    
    .events-list {
        
        margin-left: 0;
        list-style:none;
        
        .event-item {
            
            .border-bottom;
            .row;
            cursor:pointer;
            
            .event-time {
                .makeColumn(1);
                height:100%;
            }
            
            .event-name {
                .makeColumn(6);
                line-height:40px;
                font-weight:bold;
                font-size:130%;
            }
            
            .event-area {
                .makeColumn(2);
                line-height:40px;
                text-align:justify;
            }
            
            .event-description {
                .makeColumn(8);
                .offset(1);
            }
            
            .collapse-container {
                .makeColumn(9);
                display: none;
            }
            
            .event-news-container {
                
                .makeColumn(8);
                .offset(1);
                
                .event-news-item {
                    .event-news-time {
                        display: block;
                        font-style: italic;
                        font-size: 80%;
                    }
                }
            }
        }
    }
    
    .newslist-container {
        .makeColumn(3);
        
        .news-list{
            margin: 0;
            list-style: none;
            
            li {
                margin: 10px 0;
                
                .border-bottom;
                .news-title {
                    font-weight: bold;
                }
                
                .news-content {
                    margin: 5px 0;
                }
            }
        
        }
    }
}

// resize for mobile
@media (max-width: 720px){
    
    * {
        //border: 1px dotted red;
    }
    
    body > .container {
        
        #top {
            
            #top-image {
                width: 20%;
                float: left;
                margin: 0;
            }
            
            #top-title {
                line-height: 40px;
                width: 80%;
                float: left;
                margin: 0;
            }
            
        }
    }
    
    #nav-container {
        #clock {
            float: none;
            margin: 0;
        }
        .nav {
            width: 100%;
        }
    }
    
    #index-container {
        
        .eventlist-container {
            width: 100%;
            margin: 0;
            
            
            .event-list-legend {
                display: none;
                .legend-area {
                    width: auto;
                }
            }
            
            .events-list {
                width: 100%;
                
                .event-item {
                    
                    .event-time {
                        width: 40px;
                    }
                    
                    .event-name {
                        width: auto;
                        margin: 0px;
                    }
                    
                    .event-area {
                        line-height: 40px;
                        float: right;
                        width: 85px;
                        margin: 0px;
                        
                        .muted;
                    }
                    
                    .collapse-container {
                        
                        width: 100%;
                        margin: 0;
                        
                        .event-description {
                            width: 100%;
                            margin-left: 20px;
                        }
                    }
                }
            }
        }
        
        .newslist-container {
            margin: 0px;
            width: 100%;
        }
        
    }
    
}
