@import "bootstrap.less";
@import "grid.less";

.border-bottom {
    border-bottom: 1px dotted #dedede;
}

html {
    overflow-y: scroll;
}

body > .container {
    
    margin-bottom: 100px;
  
    #top {
    
        .row;
        
        #top-image {
            .makeColumn(4);
            width:266px;
        }
        
        #top-title {
            .makeColumn(8);
            line-height:300px;
            margin: 0 0 0 40px;
        }
    
  }
}

#nav-container {
    .row();
    
    .nav {
        .makeColumn(4);
    }
    
    #clock {
        line-height: 35px;
        .makeColumn(1);
        font-size: 20px;
        font-weight: bold;
    }
    
}


#index-container {
    
    .event-list-legend {
        .row();
        .makeColumn(9);
        margin-left: 0;
        
        font-weight: bold;
        
        .legend-time {
            .makeColumn(1);
            margin-left: 0;
        }
        
        .legend-event {
            .makeColumn(6);
        }
        
        .legend-area {
            .makeColumn(2);
        }
    }
    
    .events-list {
        .makeColumn(9);
        margin-left: 0;
        list-style:none;
        
        .event-item {
            
            .border-bottom;
            .row();
            cursor:pointer;
            
            .event-time {
                .makeColumn(1);
                height:100%;
            }
            
            .event-name {
                .makeColumn(6);
                line-height:40px;
                font-weight:bold;
                font-size:130%;
            }
            
            .event-area {
                .makeColumn(2);
                line-height:40px;
                text-align:justify;
            }
            
            .event-description {
                .makeColumn(8);
                .offset(1);
            }
            
            .collapse-container {
                .makeColumn(9);
                display: none;
            }
            
            .event-news-container {
                
                .makeColumn(8);
                .offset(1);
                
                .event-news-item {
                    .event-news-time {
                        display: block;
                        font-style: italic;
                        font-size: 80%;
                    }
                }
            }
        }
    }
    
    .news-list{
        .makeColumn(3);
        list-style: none;
        
        li {
            margin: 10px 0;
            
            .border-bottom;
            .news-title {
                font-weight: bold;
            }
            
            .news-content {
                margin: 5px 0;
            }
        }
        
    }
}

